*{
  background-size: cover;
}

.layout{

height: 100vh;
display: grid;
grid-template-areas:'nav nav nav nav'
                    'contenido contenido contenido sidebar' 
                    'footer footer footer footer'; 
grid-template-columns: 1fr 1fr 1fr 0.75fr; 
grid-template-rows:60px auto 70px  ;
                
}


.navBar{
 grid-area: nav;
 background-color: white;
 
 
}

.contenido{
  grid-area: contenido; 
  
}

.sidebar{
  grid-area: sidebar; 
}

.footer{
  grid-area: footer;

}

.boton{
  color:#005151;
  


}








.button{
  margin-left: 150px;
  margin-right: 10px;
  margin-top: 10px;
}







.container {
  padding: 350px;
  
}

input {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width: 0;
  padding: 0 10px;
  color:#000;
  border-radius: 50px;
  font-size: 15px;
  border: 2px solid #93e6ff;
  transition: all .7s ease;

}

::placeholder{
  color: grey;

}
.emoji{
  position: absolute;
  width:40px;
  height:40px;
  background: #93e6ff;
  line-height: 30px;
  border-radius:50%;
  text-align:center;
  transition: 5s;
  font-size: 20px;
  left: 1145px;

}


.emoji i{
font-size: 30px;
color: black;
line-height: 20px;
transition: all .7s ease;


}

.container:hover  input {
width: 200px;

}

.container:hover  i{
 transform: rotate(-360deg);
  
}

.emoji:hover {
  background: #93e6ff;
}

.sobreNosotrosImg {
  

  width: 100%;
  height: 100%;
  

    
 
}

.inicio-home-background{
  width: 100%;
  height: 100%;
  background-image: url("./assets/carrusel1.jpg");
  background-attachment: fixed;
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
}
.section-1-home{
  width: 100%;
  height: 70vh;
}

.section-2-home{
  width: 100%;
  height: 70vh;
}
 
 
.texto{
  margin-top: -200px
}


.texto2{
  margin-top: -180px
}

.misiones {
  width: 100%;


}

.CHAT{
  
    width: 100%;
  
  
  
}